{% extends "base.html" %} 
{% block title %}Notes{% endblock %} 

<!-- Notes Page content -->
{% block content %}
  <h1 align="center">User Notes</h1>
  <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
      <strong for="txt">Note:</strong>
      {{ note.txt }}
      <br>
      <strong for="date">Date:</strong>
      {{ note.date }}          
    </li>
    <a class="btn btn-success float-right mr-2" href="/updateNote/{{ note.id }}">
      <span aria-hidden="true">Edit</span>
    </a>
    <a class="btn btn-danger float-right mr-2" href="/deleteNote/{{ note.id }}">
        <span aria-hidden="true">Delete</span>
    </a> 
    <br>
    {% endfor %}
  </ul>
  <h1 align="center">Add Note</h1>
  <form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
  </form>
{% endblock %}