{% extends "base.html" %} 
{% block title %}Notes{% endblock %} 

<!-- Notes Page content -->
{% block content %}
  <h1 align="center">User Notes</h1>
  <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
      {{ note.txt }}
      {{ note.date }}
      <a class="btn btn-danger float-right mr-2" href="/deleteNote/{{ note.id }}">
        <span aria-hidden="true">Delete</span>
      </a> 
      <form method="POST" class="btn btn-success float-right mr-2" href="/updateNote/{{ note.id }}">
        <span aria-hidden="true">Edit</span>
        <input type="hidden" value="{{ note.txt }}" name="oldNote">
        <input type="text" value="{{ note.txt }}" name="newNote">
        <button type="submit" class="btn btn-primary">Update Note</button>
      </form>            
    </li>
    {% endfor %}
  </ul>
  <form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
  </form>
{% endblock %}